### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
tot_players = purchase_data["SN"].nunique()
total_players_df =  pd.DataFrame({"Total Players": [tot_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = purchase_data["Item ID"].nunique()
avg_price = purchase_data["Price"].mean() 
number_purchases = purchase_data["Purchase ID"].count()
tot_revenue = purchase_data["Price"].sum()

purchasing_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                             "Average Price": [avg_price],
                             "Number of Purchases": [number_purchases],
                             "Total Revenue": [tot_revenue]})

purchasing_df.style.format({"Average Price": "${:,.2f}", "Total Revenue" : "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [22]:
gender_data = purchase_data.groupby("Gender")

total_gender = gender_data.nunique()["SN"]

percentage_players = (total_gender/tot_players)*100

gender_df = pd.DataFrame({"Total Count": total_gender,
                         "Percentage of Players": percentage_players})
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2f}%".format)
gender_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_count_gender = gender_data["Purchase ID"].count()

avg_purchase = gender_data["Price"].mean()

avg_purchase_total = gender_data["Price"].sum()

avg_purchase_person = avg_purchase_total/total_gender

gender_df = pd.DataFrame({"Purchase Count": purchase_count_gender, 
                         "Average Purchase Price": avg_purchase,
                         "Total Purchase Value": avg_purchase_total,
                         "Avg Total Purchase per Person": avg_purchase_person})

gender_df.index.name = "Gender"
gender_df.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value" : "${:,.2f}", "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
bins_age = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,9999999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins_age, labels= age_groups)
purchase_data

age_groups = purchase_data.groupby("Age Group")

total_age = age_groups["SN"].nunique()

percent_age = (total_age/tot_players)*100

age_df = pd.DataFrame({"Total Count": total_age, "Percentage of Players": percent_age})
age_df.style.format({"Percentage of Players" : "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
purchase_age = age_groups["Purchase ID"].count()

avg_price_age = age_groups["Price"].mean()

total_value = age_groups["Price"].sum()

avg_purchase_person_age = total_value/total_age

price_age_df = pd.DataFrame({"Purchase Count": purchase_age, "Average Purchase Price": avg_price_age, 
                             "Total Purchase Value": total_value,
                             "Avg Total Purchase per Person": avg_purchase_person_age})

price_age_df.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value" : "${:,.2f}", "Avg Total Purchase per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
top_spenders = purchase_data.groupby("SN")

purchase_spenders = top_spenders["Purchase ID"].count()

avg_purchase_spenders = top_spenders["Price"].mean()

total_purchase_spender = top_spenders["Price"].sum()

top_spenders_df = pd.DataFrame({"Purchase Count": purchase_spenders, 
                   "Average Purchase Price": avg_purchase_spenders,
                   "Total Purchase Value": total_purchase_spender})

top_5 = top_spenders_df.sort_values(["Total Purchase Value"], ascending = False)
top_5["Average Purchase Price"] = top_5["Average Purchase Price"].map("${:,.2f}".format)

top_5["Total Purchase Value"] = top_5["Total Purchase Value"].map("${:,.2f}".format)
top_5.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:

items_data = purchase_data.groupby(["Item ID", "Item Name"])

purchase_item_count = items_data["Price"].count()

purchase_value = items_data["Price"].sum()

item_price = purchase_value/ purchase_item_count

popular_items_df = pd.DataFrame({"Purchase Count": purchase_item_count, 
                                "Item Price":item_price,
                                "Total Purchase Value": purchase_value})
most_popular_df = popular_items_df.sort_values(["Purchase Count"], ascending = False)

most_popular_df["Item Price"] = most_popular_df["Item Price"].map("${:,.2f}".format)

most_popular_df["Total Purchase Value"] = most_popular_df["Total Purchase Value"].map("${:,.2f}".format)
most_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [20]:
total_value_popular_df = popular_items_df.sort_values(["Total Purchase Value"], ascending= False)

total_value_popular_df["Item Price"] = total_value_popular_df["Item Price"].map("${:,.2f}".format)
total_value_popular_df["Total Purchase Value"] = total_value_popular_df["Total Purchase Value"].map("${:,.2f}".format)
total_value_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80